body {
  background: #3E4C3D;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  overflow: hidden;
  user-select: none; }

#box {
    -moz-border-radius: 0 0 0 35px;
    -webkit-border-radius: 15px 15px 0 0;
    border: 2px solid #80bfff;
    height: 20px;
    width: 200px;
    background: #80bfff;
}