/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 1:12:06 PM
    Author     : Uri
*/
$background-color: #3E4C3D;
$footer-color: #597C84;
$font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

body {
    background: $background-color;
    font-family: $font;
    font-weight: 100;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#footer {
    position:fixed;
    left: 50%;
    color: $footer-color;
    bottom:0px;
    height:5%;
    transform: translate(-50%, -50%);
}

/* unvisited link */
a:link {
    color: $footer-color;
}

/* visited link */
a:visited {
    color: $footer-color;
}

/* mouse over link */
a:hover {
    color: $footer-color;
}

/* selected link */
a:active {
    color: $footer-color;
}



