body {
    background: #3E4C3D;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.title {
    position: relative;
    color: black;
    text-align: center;
    line-height: 2em;
    -moz-border-radius: 0 0 0 35px;
    -webkit-border-radius: 15px 15px 0 0;
    height: 2em;
    width: 15em;
    background: #80bfff;
    top: 0;
}

.title-animation {
    -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    top: -0.5em;
    margin-top: 0.5em;
    -webkit-transition: all 1s;
    transition: all 1s;
}



.title-backward-animation{
    -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    top: 0em;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#centerThem {
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.content {
    position: relative;
    color: #3E4C3D;
    width: 15em;
    height: 0px;
    padding-top: 0.5em;
    opacity: 0%;
    height: 0;
    top: 0;
    padding-bottom : 0;
}

.content-animation {
    height: 8em; 
    -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    background-color: white;
    margin-bottom: 0.5em;

    -webkit-transition: all 1s;
    transition: all 1s;
}

.content-backward-animation {
    height: 0; 
    top: 0;
    -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    
    -webkit-transition: all 1s;
    transition: all 1s;
}

