body {
    background: #3E4C3D;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    }

.animation-title {
    -webkit-animation-name: title-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: title-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

.title {
    position: relative;
    color: black;
    text-align: center;
    line-height: 2em;
    -moz-border-radius: 0 0 0 35px;
    -webkit-border-radius: 15px 15px 0 0;
    height: 2em;
    width: 15em;
    background: #80bfff;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title-animation {
    /* TODO URI */
}

/* Standard syntax */
@keyframes title-animation {
    from {
        top: 0px;
        -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
        box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    }
    to {top: -4.5em;
        -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
        -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
        box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
    }
}

#centerThem {
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.content-wrapper {
    position: relative;
    color: #3E4C3D;
    width: 15em;
    height: 0px;
    padding-top: 10px;
    opacity: 0%;
}

.animation-content-wrapper {
    -webkit-animation-name: content-wrapper-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: content-wrapper-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes content-wrapper-animation {
        /* TODO URI */
}

/* Standard syntax */
@keyframes content-wrapper-animation {
    from {
        height: 0px; 
        top: 0;
        -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
        box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.0);
    }
    to {
        height: 8em; 
        top: -4em;
        -webkit-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
        -moz-box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
        box-shadow: 10px 12px 13px 0px rgba(0,0,0,0.41);
        background-color: white;
    }
}
