.card-style {
    width: 3em;
    height: 4em;
    border: solid;
    margin-left: -0.5em;
    -webkit-box-shadow: -8px 2px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 2px 25px -6px rgba(0,0,0,0.75);
    box-shadow: -8px 2px 25px -6px rgba(0,0,0,0.75);
}