<div id="container">
    <div style="display: flex; flex-direction: column; justify-content: center; height: 100%">
        <div style="display: flex; flex-direction: row; justify-content: center; margin: 2em;">
            <div class="boxShadow" style="width: 50%; height: 8em;  padding: 1em;
        background-color: dodgerblue;">
                <div style="display: flex; flex-direction: row; justify-content: center">
                    <app-card color="gray"></app-card>
                    <app-card color="gray"></app-card>
                    <app-card color="gray"></app-card>
                    <app-card color="gray"></app-card>
                    <app-card color="gray"></app-card>
                    <app-card color="gray"></app-card>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; margin: 4em; padding: 1em">
            <div class="boxShadow" style="height: 6em; width: 40%;  padding: 1em;
            display: flex; flex-direction: row; justify-content: center">
                <app-card color="red"></app-card>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; margin: 2em">
            <div class="boxShadow" style="height: 8em; width: 50%;background-color: dodgerblue; display: 
            flex; flex-direction: row; justify-content: center; padding: 1em">
                <app-card color="red"></app-card>
                <app-card color="green"></app-card>
                <app-card color="green"></app-card>
                <app-card color="blue"></app-card>
            </div>
        </div>
    </div>
</div>