<!--The content below is only a placeholder and can be replaced.-->

<div id="container">
    <div style="display: flex; flex-direction: row; height: 100%; width: 100%; align-items: flex-end">
        <div style="flex: 1 100%">
            <div style="display: flex; flex-direction: column; margin: 0.5em; height: 100%">
                <md-card style="flex: 8 80%; background-color: cadetblue">
                    ALL CARDS1
                </md-card>
                <md-card style="flex: 2 20%; margin-top:1em;margin-bottom: 1em; background-color: skyblue">
                    MY CARDS1
                </md-card>
            </div>
        </div>
        <!--        <div style="flex-grow: 1;">
            <div style="display:flex; flex-direction: column; height: 100%; ">
                <md-card style="flex: 1 100%;margin: 0.5em; background-color: steelblue">
                    PANEL
                </md-card>
            </div>
        </div>
--></div>
</div>